{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <h1>Login</h1>
    <p><a href="{{ url('app_login') }}">Login</a></p>

    <h1>Register</h1>
    <p><a href="{{ url('app_register') }}">Register</a></p>
{% endblock %}