{% extends 'base.html.twig' %}

{% block title %}Vocabuly{% endblock %}

{% block body %}
    <h1 class="text-center pt-3 pb-2">Bienvenue sur Vocabuly</h1>
    <p>Vocabuly vous permet d'étudier facilement une langue étrangère et de réviser votre vocabulaire sans aucun soucis.</p>
    <p></p>
    <p>Alors n'hésitez pas, testez-le! ;)</p>
    <p><a href="{{ url('app_login') }}">Connectez-vous</a>
        ou
        <a href="{{ url('app_register') }}">Créez un compte</a>
    </p>
{% endblock %}
