{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="pb-3">Ajouter un nouveau terme</h1>
    {% for message in app.flashes('info') %}
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {{ form(form) }}
{% endblock %}
